.header-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background: rgba(48, 52, 65, .9);
    z-index: 10000000;
}
.header .navbar-brand {
    height: 45px;
    padding: 0 0 0 55px;
    margin: 0;
    background: url(../img/logo.png) no-repeat scroll 0 0 transparent;
    background-size: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    opacity: 0.7;
}
.header {
	padding: 0;
    height: 70px;
    line-height: 70px;
}
.container>.navbar-header {
    margin-top: 12px;
}
.container{
	
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 36px;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu ul {
    float: right;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
   
    font-family: 'Open Sans', sans-serif;
    line-height: 70px;
    
}
#menu-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
	background: transparent;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-center ul ul {
    text-align: left;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu.align-right ul ul {
    text-align: right;
}
#cssmenu > ul > li > a {
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #A3A7B9;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #EB5055;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
    position: absolute;
    top: 34px;
    right: 10px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #A3A7B9;
    border-right: 1px solid #A3A7B9;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
    border-color: #EB5055;
}
#cssmenu ul ul {
    position: absolute;
	background: rgba(48, 52, 65, .9);
    left: -9999px;
}
#cssmenu li:hover > ul {
    left: auto;
}
#cssmenu.align-right li:hover > ul {
    right: 0;
}
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
    height: 40px;
}
#cssmenu ul ul li a {
    padding: 5px 20px;
    width: 150px;
    font-size: 15px;
    background: rgba(48, 52, 65, 1);
    text-decoration: none;
    color: #A3A7B9;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
    color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
    border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    .container>.navbar-header{
		float:left;
		margin-left: 15px;
	}
	#cssmenu {
        width:100%;
    }
    #cssmenu ul {
        width: 100%;
        display: none;
        float: none;
		background: rgba(48, 52, 65, 1)
    }
    #cssmenu.align-center > ul,
    #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li,
    #cssmenu ul ul li,
    #cssmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
		padding: 8px 20px;
        font-size: 16px;
    }
    #cssmenu > ul > li,
    #cssmenu.align-center > ul > li,
    #cssmenu.align-right > ul > li {
        float: none;
        display: block;
    }
    #cssmenu ul ul li a {
        padding: 5px 20px 5px 40px;
        font-size: 15px;
        color: #A3A7B9;
        background: none;
    }
    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #A3A7B9;
    }
    #cssmenu ul ul ul li a {
        padding-left: 60px;
		font-size: 14px;
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
        display: block;
		height: 70px;
        padding: 20px;
        color: #000000;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
    }
    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 33px;
        right: 20px;
        display: block;
        width: 18px;
        height: 2px;
        background: #A3A7B9;
    }
    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 39px;
        right: 20px;
        display: block;
        width: 18px;
        height: 3px; 
        border-bottom: 2px solid #A3A7B9;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
     
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #A3A7B9;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #A3A7B9;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
}
